*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

                               /* nav */
.logo{
  width: 170px;
  height: 60px;
  margin-left: 0;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}


.navbar {
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #000;
}

nav ul li a:hover{
  text-decoration: underline solid #495E57;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

                                


                                  /* hero */

header{
  background: #495E57;
  /* max-height: 30vh; doesnt work bc it stays the same even when content grows/shortens*/
  color:white;
  display: flex;
  align-items: center;
  /* gap:200px; */
  font-family: Markazi;
}
          /* hero img stuff */

.heroImg{
  margin-right: 90px;
  width:800px;
  /* padding-top: 40px;
  padding-bottom: 40px; */
}
.heroImg img{
  /* ??? How to make image smaller ??? */
  width: 100%;
  height: 350px;
  padding: 50px 0px;
  /* margin-bottom: 50px; */
}

          /* hero text stuff */
.heroText{
  margin-left: 80px;
  
}
/* gives spacing btwn stuff inside heroText */
.heroText > *{
  margin: 20px;
}
.heroText h1{
  font-size: 2.2rem;
  color: #F4CE14;
  margin-bottom: 0;
}
.heroText h2{
  font-size: 1.7rem;
  margin-top: 0px;

}
.heroText p{
  /* max-width: 80%; */
  font-size: 1.2rem;
  max-width: 80%;
}

      /* Button component stuff */
      .btn{
          margin: 0;
          padding: 0;
          /* make btn inline bc now u can click on the btn and not AROUND it to make it work */
          display: inline;
      }
.btn button{
  /* min-height:50px;
  min-width: 150px; */
  /* margin-left: 60px; */

  margin-top: 20px;
  margin-bottom: 20px;

  padding: 14px 18px;
  border-radius: 16px;
  background-color: #F4CE14;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color:black;
  cursor: pointer;
}

.nav-links.visible {
  /* display: none; */

}
                                  /* specials */
.specials{
margin:70px 13%;
/* text-align: start; */
}
.specialsHeader{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;
}

.specialsGrid{
display: flex;
gap:4%;
/* max-width:700px; */
flex-wrap: wrap;
row-gap: 20px;

}
.specialsGrid img{
max-width: 100%;
height: 233px;
border-radius: 8px;
}

.card{
/* margin: 10px; */
/* max-height: 500px; */

width: 300px;
background: #a9c8be;
border-radius: 8px;
}
.cardInfo{
padding: 5px 15px;
font-family: Markazi;
}

.cardHeader{
display: flex;
justify-content: space-between;
font-size: 1rem;
font-weight: bolder;
}

                                        /* testimonial */
 .testimonial{
    margin:70px 0;
    padding: 60px;
    background-color: #495E57;
    text-align: center;
    /* display: flex; NO FLEX BC THEIR BOTH IN A DIV SO THE HEADER(Testimonial) AND RATINGS ARE IN SEPEARTE LINES*/
  }
  .testimonial h2{
    font-size: 2rem;
    color:#F4CE14;
      font-family: Markazi;
  }

  .ratingsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
  }
  .rating{
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family: Markazi;
    /* display: flex; */
    width: 240px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .rating .starImg{
    width: 100px;
    height: 20px;
  }
  .personRating{
    display: flex;
    align-items: center;
    gap:20px;
}

  .personRating .profilePic{
    width: 60px;
    height: 40px;
    border-radius: 16%;
}

                                        /* footer */
.footer{
  /* margin-top:70px; */
  padding:30px;

  /* position: absolute;
  bottom: 0; */

  display: flex;
  justify-content: center;
  align-items: start;
  gap:10%;
  /* flex-wrap: wrap; */

  font-size: 1rem;
  font-family: Markazi;
  font-weight: 100;

  background-color: #EDEFEE;
}
.footer > *{
  line-height: 30px;
}
.footer img{
  max-width: 100%;
  height: 120px;
}


                                  /* Booking form */

.bookingForm{
display: flex;
flex-direction: column;
/* align-items: center; */

margin-left: 80px;
margin-top: 40px;
height: 70vh;
}
.bookingForm h1{
  margin-bottom: 20px;
  font-family: Markazi;
  font-size: 1.8rem;
}
form{
display: flex;
flex-direction: column;
align-items: start;
row-gap: 15px;
}

select{
  height: 30px;
  width: 150px;
  background-color: #EEEEEE;
}
.date {
  height: 30px;
  width: 150px;
  background-color: #EEEEEE;
  border: 1px solid gray;
}

div label{
  margin-right: 10px;
  font-family: Karla;
  font-weight: 500;
}
.comfirm{
  height: 70vh;
text-align: center;
margin-top: 5%;
}
.comfirm span{
  color: blue;
}

  @media screen and (max-width: 768px){

                               /* nav */
                               .menu-icon {
                                  display: block;
                                }
                              
                                .nav-links {
                                  display: none;
                                }
                              
                                .nav-links.visible {
                                  display: flex;
                                  background: #333333;
                                  z-index: 1000;
                                  padding: 20px 0;
                                  margin-top: 40px;

                                }
                              
                                .navbar{
                                  background:#fff;
                                  padding: 10px 8%;
                                }
                              
                                nav ul li a{
                                  color: #fff;
                                }
                              
                                .bar{
                                  background: #333333;
                                }

                               /* Hero  */
      header{
          justify-content: start;
          align-items: start;
      }
      .heroImg{
          display: none;
      }
      .heroText p{
          max-width: 80%;
          /* word-wrap: break-word; */
      }
      .heroText{
          margin-left: 0px;
      }

      .specialsGrid{
        justify-content: center;
      }


      .footer {
        /* padding: 10px 8%; */
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        justify-content: center;
      }
}



/* questions

- how to place a section of a page?
- bc i just did margin to space sections off
- before i did position - but that wasnt it - OR was it bc i set a specific height of the section which made it not work

*/